fep-processor/src/main/resources/xsd/1001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>

	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[1001] 企业信息实时查询请求报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RealHead1001" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>1001报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanyInfoRequest1001" type="CompanyInfoRequest1001">
				<xsd:annotation>
					<xsd:documentation>企业信息实时查询请求</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CompanyInfoRequest1001">
		<xsd:annotation>
			<xsd:documentation>企业信息实时查询请求</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CompanyName" type="CompanyName">
				<xsd:annotation>
					<xsd:documentation>企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanyCode" type="CompanyCode">
				<xsd:annotation>
					<xsd:documentation>企业代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainClass" type="MainClass">
				<xsd:annotation>
					<xsd:documentation>业务大类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SecondClass" type="SecondClass">
				<xsd:annotation>
					<xsd:documentation>业务小类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BeginDate" type="Date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>开始日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="Date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>结束日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AuthNo" type="AuthNo">
				<xsd:annotation>
					<xsd:documentation>授权书编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AuthOrgCode" type="OrgCode">
				<xsd:annotation>
					<xsd:documentation>被授权机构代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Parameters" type="Parameters" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>查询参数</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
