fep-processor/src/main/resources/xsd/1101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[1101] 外联机构数据传输报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead1101" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>1101报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataTransfer1101" type="DataTransfer1101">
				<xsd:annotation>
					<xsd:documentation>外联机构数据传输</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataTransfer1101">
		<xsd:annotation>
			<xsd:documentation>外联机构数据传输</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MainClass" type="MainClass">
				<xsd:annotation>
					<xsd:documentation>业务大类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SecondClass" type="SecondClass">
				<xsd:annotation>
					<xsd:documentation>业务小类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period">
				<xsd:annotation>
					<xsd:documentation>报送周期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="Type">
				<xsd:annotation>
					<xsd:documentation>报送类型</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>文件业务日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Parameters" type="Parameters" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>参数</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
