fep-processor/src/main/resources/xsd/2101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[2101] 数据推送报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead2101" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>2101报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataTransfer2101" type="DataTransfer2101">
				<xsd:annotation>
					<xsd:documentation>HNDEMP数据推送</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataTransfer2101">
		<xsd:annotation>
			<xsd:documentation>HNDEMP数据推送</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MainClass" type="MainClass">
				<xsd:annotation>
					<xsd:documentation>业务大类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SecondClass" type="SecondClass">
				<xsd:annotation>
					<xsd:documentation>业务小类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period">
				<xsd:annotation>
					<xsd:documentation>推送周期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Type" type="Type">
				<xsd:annotation>
					<xsd:documentation>推送类型</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>文件业务日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
