fep-processor/src/main/resources/xsd/2102.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[2102] 外联机构数据报文核对回执报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead2102" type="ResponseHead">
				<xsd:annotation>
					<xsd:documentation>2102报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DataTransferCheckResponse2102" type="DataTransferCheckResponse2102" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>外联机构数据报送核对回执</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataTransferCheckResponse2102">
		<xsd:annotation>
			<xsd:documentation>外联机构数据报送核对回执</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DataTransferResult" type="DataTransferResult" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>数据报送核对结果项</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataTransferResult">
		<xsd:annotation>
			<xsd:documentation>数据报送核对结果项</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemId" type="ItemId">
				<xsd:annotation>
					<xsd:documentation>核对项ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MainClass" type="MainClass">
				<xsd:annotation>
					<xsd:documentation>业务大类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SecondClass" type="SecondClass">
				<xsd:annotation>
					<xsd:documentation>业务小类</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period">
				<xsd:annotation>
					<xsd:documentation>报送周期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileName" type="FileName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>文件名</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>文件业务日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="TransferStatus">
				<xsd:annotation>
					<xsd:documentation>文件报送状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
