fep-processor/src/main/resources/xsd/3004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3004]电子凭证融资状态查询回执</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RealHead3004" type="ResponseHead">
				<xsd:annotation>
					<xsd:documentation>3004报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzInfoReturn3004" type="pzInfoReturn3004" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>电子凭证融资状态实时查询回执</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pzInfoReturn3004">
		<xsd:annotation>
			<xsd:documentation>电子凭证融资状态实时查询回执</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>核心企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>核心企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzNo" type="pzNo">
				<xsd:annotation>
					<xsd:documentation>凭证编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzState" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>凭证状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzrzState" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>凭证融资状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzrzStatusInfo" type="pzrzStatusInfo">
				<xsd:annotation>
					<xsd:documentation>凭证融资进度信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RiskRate" type="RiskRate" minOccurs="0" maxOccurs="10">
				<xsd:annotation>
					<xsd:documentation>融资风险比例参考</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="edUpdateDateTime" type="DateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>额度更新时间</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzInfo" type="pzInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>电子凭证信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zpzAllInfo" type="zpzAllInfo" minOccurs="0" maxOccurs="200">
				<xsd:annotation>
					<xsd:documentation>主凭证所有子凭证信息表</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 主凭证所有子凭证信息表 -->
	<xsd:complexType name="zpzAllInfo">
		<xsd:annotation>
			<xsd:documentation>主凭证所有子凭证信息表</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNumber" type="Integer">
				<xsd:annotation>
					<xsd:documentation>序号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzNo" type="pzNo">
				<xsd:annotation>
					<xsd:documentation>凭证编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzClass" type="Number2">
				<xsd:annotation>
					<xsd:documentation>凭证类型</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PreNo" type="pzNo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>上一级电子凭证编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyAssignName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>开立/转让方企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyAssignCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>开立/转让方企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyRecvName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>接收方企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyRecvCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>接收方企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Amt" type="Currency">
				<xsd:annotation>
					<xsd:documentation>凭证金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UpdateDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>变更日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzFunction" type="Number3">
				<xsd:annotation>
					<xsd:documentation>凭证功能</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzState" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>凭证状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzrzState" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>凭证融资状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzMajorNo" type="pzNo">
				<xsd:annotation>
					<xsd:documentation>对应主凭证编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LoanAmt" type="Currency">
				<xsd:annotation>
					<xsd:documentation>已融资金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubState" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>凭证拆分状态</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Reserve" type="String0to1000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>保留</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
