fep-processor/src/main/resources/xsd/3006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3006]对公客户状态查询回执</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RealHead3006" type="ResponseHead">
				<xsd:annotation>
					<xsd:documentation>3006报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyAccQueryReturn3006" type="qyAccQueryReturn3006" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>对公客户状态查询回执</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="qyAccQueryReturn3006">
		<xsd:annotation>
			<xsd:documentation>对公客户状态查询回执</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyAccName" type="AccName">
				<xsd:annotation>
					<xsd:documentation>企业账户名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qyAccCode" type="AccNumber">
				<xsd:annotation>
					<xsd:documentation>企业账号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccReturnCode" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>查询返回码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccReturnMemo" type="String0to200" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>返回说明</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
