fep-processor/src/main/resources/xsd/3007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3007]发票核验请求</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RealHead3007" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>3007报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoCheckQuery3007" type="InvoCheckQuery3007">
				<xsd:annotation>
					<xsd:documentation>发票核验请求</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InvoCheckQuery3007">
		<xsd:annotation>
			<xsd:documentation>发票核验请求</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoCode" type="String0to100" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>发票代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoNum" type="String8to30">
				<xsd:annotation>
					<xsd:documentation>发票号码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckCode" type="String6" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>发票校验码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoAmtTax" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>发票金额含税</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoAmt" type="Currency">
				<xsd:annotation>
					<xsd:documentation>发票金额不含税</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InvoDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>发票开票日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ywKeyValue" type="String0to300" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>发票相关业务备注</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
