fep-processor/src/main/resources/xsd/3103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3103] 企业建档信息回执</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead3103" type="ResponseHead">
				<xsd:annotation>
					<xsd:documentation>3103报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ArchiveReturnInfo3103" type="ArchiveReturnInfo3103">
				<xsd:annotation>
					<xsd:documentation>建档回执信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArchiveReturnInfo3103">
		<xsd:annotation>
			<xsd:documentation>建档回执</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreationRetCode" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>建档进度码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreationRetInfo" type="String0to300" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>建档进度返回信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>核心企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>核心企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>融资企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>融资企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzqyBankCusCode" type="qyBankCusCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>融资企业银行客户编码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BranchBankName" type="AccBankName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>客户归属分支行名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CusManagerName" type="PersonName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>客户经理名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CusManagerPhone" type="PersonPhone" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>客户经理联系电话</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzAmt" type="Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>融资金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzRate" type="Rate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>融资利率</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sxRate" type="Rate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>手续费率</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dbRate" type="Rate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>担保费率</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="Date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>准入生效日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="Date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>准入失效日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
