fep-processor/src/main/resources/xsd/3107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3107] 平台凭证对账申请</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead3107" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>3107报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzCheckQuery3107" type="pzCheckQuery3107">
				<xsd:annotation>
					<xsd:documentation>平台凭证对账申请</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pzCheckQuery3107">
		<xsd:annotation>
			<xsd:documentation>平台凭证对账申请</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>对账日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyNum" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>核心企业数量</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyInfo" type="hxqyInfo" maxOccurs="200">
				<xsd:annotation>
					<xsd:documentation>核心企业信息列表</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="hxqyInfo">
		<xsd:annotation>
			<xsd:documentation>核心企业基本信息</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="hxqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>核心企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>核心企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
