fep-processor/src/main/resources/xsd/3116.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="./Base.xsd"/>
	<xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[3116] 银行每日资金对账</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BatchHead3116" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>3116报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BankCheckDay3116" type="BankCheckDay3116">
				<xsd:annotation>
					<xsd:documentation>银行资金日对账</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BankCheckDay3116">
		<xsd:annotation>
			<xsd:documentation>银行资金日对账</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SerialNo" type="SerialNo">
				<xsd:annotation>
					<xsd:documentation>流水号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SendNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>发送方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>接收方节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>核心企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hxqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>核心企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>对账日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckDetailNum" type="Integer">
				<xsd:annotation>
					<xsd:documentation>交易明细条数</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckDetailInfo" type="CheckDetailInfo" maxOccurs="200">
				<xsd:annotation>
					<xsd:documentation>当日交易明细</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExtInfo" type="extInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>自定义扩展信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CheckDetailInfo">
		<xsd:annotation>
			<xsd:documentation>资金当日发生额交易明细</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sid" type="Integer">
				<xsd:annotation>
					<xsd:documentation>序号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlatNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>核心企业所属平台节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pzNo" type="pzNo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>融资凭证编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BizType" type="Number1to2">
				<xsd:annotation>
					<xsd:documentation>业务类型</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BillNo" type="String0to30" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>银行借据编号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzqyName" type="qyName">
				<xsd:annotation>
					<xsd:documentation>融资企业名称</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzqyCode" type="qyCode">
				<xsd:annotation>
					<xsd:documentation>融资企业统一社会信用代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzAmt" type="Currency">
				<xsd:annotation>
					<xsd:documentation>融资金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzRate" type="Rate">
				<xsd:annotation>
					<xsd:documentation>融资利率</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzStartDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>融资起始日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rzEndDate" type="Date">
				<xsd:annotation>
					<xsd:documentation>融资到期日期</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Amt" type="Currency" default="0.00">
				<xsd:annotation>
					<xsd:documentation>发生额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepayStyle" type="String0to100" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>还款方式描述</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lxAmt" type="Currency" default="0.00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>利息金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dbAmt" type="Currency" default="0.00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>担保费用代收金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PlatServiceAmt" type="Currency" default="0.00" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>平台服务费用代收金额</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CheckMemo" type="String0to100" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>对账保留字段</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
