fep-processor/src/main/resources/xsd/9020.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="./Base.xsd"/>

    <xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[9020] 实时业务通用应答报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RealHead9020" type="ResponseHead">
				<xsd:annotation>
					<xsd:documentation>9020报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="MsgReturn9020" type="MsgReturn9020">
				<xsd:annotation>
					<xsd:documentation>实时业务通用应答</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MsgReturn9020">
		<xsd:annotation>
			<xsd:documentation>实时业务通用应答</xsd:documentation>
		</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="OriMsgNo" type="MsgNo">
				<xsd:annotation>
					<xsd:documentation>原报文号</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="Debug" type="Debug" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>调试信息</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>