fep-processor/src/main/resources/xsd/9100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="./Base.xsd"/>

    <xsd:element name="CFX" type="CFX">
		<xsd:annotation>
			<xsd:documentation>[9100] 非实时业务通用转发报文</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="CFX">
		<xsd:annotation>
			<xsd:documentation>报文</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HEAD" type="HEAD">
				<xsd:annotation>
					<xsd:documentation>报文头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSG" type="MSG">
				<xsd:annotation>
					<xsd:documentation>报文体</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="MSG">
		<xsd:annotation>
			<xsd:documentation>报文体</xsd:documentation>
		</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BatchHead9100" type="RequestHead">
				<xsd:annotation>
					<xsd:documentation>9100报文业务头</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="Forward9100" type="Forward9100">
				<xsd:annotation>
					<xsd:documentation>非实时通用转发</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Forward9100">
		<xsd:annotation>
			<xsd:documentation>非实时通用转发</xsd:documentation>
		</xsd:annotation>
        <xsd:sequence>
            <xsd:element name="SrcNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>报文发起节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="SrcOrgCode" type="SrcOrgCode">
				<xsd:annotation>
					<xsd:documentation>业务发起方内部代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="DesNodeCode" type="NodeCode">
				<xsd:annotation>
					<xsd:documentation>报文接收节点代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="DesOrgCode" type="DesOrgCode">
				<xsd:annotation>
					<xsd:documentation>业务接收方内部代码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="BusinessNo" type="BusinessNo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>业务分类码</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="Content" type="Content">
				<xsd:annotation>
					<xsd:documentation>数据内容</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>